# Laravel
/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/storage/*
!storage/app/public
/storage/*.key
/bootstrap/cache/

# Logs
*.log
npm-debug.log
yarn-error.log
pnpm-debug.log

# Env files
.env
.env.*.backup
.env.production

# IDE & editor
/.idea
/.vscode
/.fleet
Homestead.json
Homestead.yaml
.phpunit.result.cache
/.phpunit.cache

# Tailwind test folder
/tailwind-ui-components-main
